
:root {
    --main-bg-color: #0D6585;
    --text-color: white;
    --font-basic: "Basic", sans-serif;
    --font-quicksand: "Quicksand";
    --primary-color: #11577E;
}

.nav-link.active2 {
    border-top: 1px solid;
    border-bottom: 1px solid ;
}
    /* Navbar and search box styling */
    .navbar {
        background-color: #f8f9fa;
        padding: 15px;
      }

      .dropdown-toggle.active2{
        border-top: 0;
        border-bottom: 0;
      }

      #search-box {
        border: 1px solid #ced4da; 
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 20px;
      }
      .results-title {
        font-size: 1.25em;
        font-weight: bold;
        margin-top: 15px;
      }
      .result {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
      .result a {
        font-weight: bold;
        text-decoration: none;
        color: #333;
      }

.fullpage{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;

}

.laboratory
{
    float: right;
    margin-left: 50px;
    margin-bottom: 10px;
    max-width: 45%;
    border-radius: 20px;
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--font-poppins);
    box-sizing: border-box;
}

.topofpagetitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--main-bg-color);
    width: 100%;
    padding: 50px 0;
    color: white;
}

.coming-soon {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}

.parallax {
    background-image: url("Images/Water\ Bottle\ On\ Mountain\ Back.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    height: 650px;
}

.frame {
    width: 370px;
    height: 385px;
    border: 3px solid #ccc;
    border-radius: 10px;
    background: #eee;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 10px 5px  #666a6b;
    box-shadow: #0D6585;


}

/* Set up the initial position and animation properties */
h1.animate {
    position: relative;
    left: -100%; /* Start off-screen to the left */
    animation: moveRight 1s ease-out forwards; /* Define the animation */
}

h2.animate {
    position: relative;
    left: -100%; /* Start off-screen to the left */
    animation: moveRight 1.2s ease-out forwards; /* Define the animation */
}

/* Define the animation keyframes */
@keyframes moveRight {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

.frame img {
    display: block;
    width: 100%;
    height: auto;
}

.description {
    margin-left: 50px;
    background-color: white; /* Semi-transparent background */
    color: rgb(0, 0, 0);
    padding: 10px;
    position: absolute;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 350px;
    transform: translate(-10px, -20px);
    height: 90px;
    border: solid rgb(0, 0, 0);
    border-width: 1px;
    text-align: center;

}

#products {
    display: flex;
}

#motto {
    text-align: center;
    width: 100%;
    color:whitesmoke;
    text-shadow: 1;
}

#mottotitle {
    font-family: "Bitter", serif;
    font-weight: 1000;
    font-size: 23px;
}
#mottobg {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 300px;
    background-image: url("Images/Ocean\ Bacground.png");
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
}

#mottobg div {
    height: 450px;

    padding-top: 50px;
}

.responsive-image {
    width: 100%;
    border-radius: 20px;
    border: 4px solid;
    border-color: #e4e4e4;

}
.button{
    margin-top: 20px;
    height: 300px;
    width: 100%;
    text-align: center;
    color: #3BAF3E;
    background-color: #dbdbdb;
    padding: 90px;
    justify-items: center;
    
}

.button h2{
    margin-top: 0;
    font-size: 65px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}

.button button
{

    width: 300px;
    height: 50px;

    background-color: #3BAF3E;
    border: none;
    color: white;
}

.button button:hover {
    background-color: #a3eba5;
}


#bgmask {

    background-color: rgba(255, 255, 255, 0.63);
    align-content: center;

    
}

.dropdown-menu  h5{
    padding: 15px;
}


.titlesize {
    font-weight: 100;
    letter-spacing: -7px;
    font-family: 'Times New Roman', Times, serif;
}

.slogan {
    font-family: var(--font-quicksand);
    font-weight: 100;
    letter-spacing: 5px;
}
h4 {
    font-size: 23px;
}

p {
    font-size: 18px;
}

.paragraph1, .paragraph2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: var(--font-poppins);
}

.paragraph1 ul{
    line-height: 35px;
}

.paragraph1 h2{
    line-height: 70px;
}
.presents {
    height: 100px; 
    margin:10px;
    justify-content: center; 

    padding-top: 30px; color: black; 
    font-size: 23px; 
    font-family: 'Space Grotesk', sans-serif;
}

@media (max-width: 2000px) and (min-width: 1200px) {
    #products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    
    .fullpage{
        margin-left: 100px;
        margin-right: 100px;
        text-align: justify;
    }

    #bgmask {

        height: 600px;
        justify-content: center;
    }

    #mottotitle {
        font-size: 23px;
        margin-bottom: 0;
        text-shadow: 2px 2px 20px black ;

    }

    #mottosubtitle {
        font-size: 50px;
        margin-top: 0;
        letter-spacing: -1px;
        font-weight: 700;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        text-shadow: 2px 2px 20px black ;
    }

    .titlesize {
        font-size: 150px;
        margin-bottom: -20px;
        padding-top: 30px;
        font-family: 'Times New Roman', Times, serif;
    }

    .slogan {
        font-size: 28px;
        margin: 0;
        padding-bottom: 50px;
    }

    .paragraph1 {
        display: grid;
        align-content: center;
        justify-items: center;
        gap: 100px;
        margin-left: 80px;
        margin-right: 80px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
    }
    .image-hover-effect {
        transition: transform 0.3s ease; /* Smooth transition effect */
    }
    
    .image-hover-effect:hover {
        transform: scale(0.95); /* Shrinks the image to 95% of its size */
    }
    .paragraph2 {
        margin: 50px 300px;
    }
    .titlesize {
        font-size: 150px;
        font-weight: 100;
        letter-spacing: -7px;
        font-family: 'Times New Roman', Times, serif;
    
    }


}

@media (max-width: 1200px) and (min-width: 350px) {

    #mottotitle {
        font-size: 18px;

    text-shadow: 2px 2px 20px black ;

    }

    .laboratory
    {
        float:none;
        max-width: 100%;
        border-radius: 20px;
        margin: 0;
    }

    .button h2{
        margin-top: 0;
        font-size: 32px;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 600;
    }
    
    .button button
    {
    
        width: 200px;
        height: 50px;
    
        background-color: #3BAF3E;
        border: none;
        color: white;
    }
    
    .button button:hover {
        background-color: #a3eba5;
    }

    #mottosubtitle {
        text-shadow: 2px 2px 20px black ;
    }
    .fullpage{
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
    }
    
    #mottobg {
        height: 200px;

    }

    .presents {
        height: 100px; 
        justify-content: center; 
        padding-top: 30px; color: black; 
        font-size: 23px; 
        font-family: 'Space Grotesk', sans-serif;
    }

    .parallax {
        height: 1500px;
    }

    #products {
        gap: 150px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }



    .description {
        margin-left: 30px;
        background-color: white; /* Semi-transparent background */
        color: rgb(0, 0, 0);
        padding: 10px;
        position: absolute;

        transform: translate(-65px, 30px);
    
        border: solid rgb(0, 0, 0);
        border-width: 1px;
        text-align: center;
    
    }



    p {
        font-size: 16px;
    }

    #bgmask {
        display: flex;
        height: 1500px;
        justify-content: center;

    }

    .titlesize {
        font-size: 80px;
        margin-bottom: -10px;
    }

    .slogan {
        font-size: 11px;
    }

    .paragraph1 {
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        gap: 100px;
        margin: 0 40px;
    }

    .paragraph1 h2 {
        text-align: left;
        font-size: 18px;
        line-height: 30px;

    }

    .frame {
        width: 300px;
        height: 310px;
    }
    .frame img {
        width: 100%;
        align-items: center;
    }
    
    .footer {
        height: 1500px;
        display: flex;
        flex-direction: column;

        border: solid black 1px;
    }

    .footer div {
        align-content: center;
        display: flex;
        flex-direction: column;
        padding: 30px;

    }

    .footer a {
        line-height: 40px;
        text-decoration: none;
        color: #666a6b;
    }

    .footer-img {
        text-align: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        border-right: solid grey 0px;

    }

    .copyright-notice {
        text-align: center;
        background-color: black;
        color: white;
    }

}

@media (max-width: 350px) {
    
    .footer {
        height: 1500px;
        display: flex;
        flex-direction: column;

        border: solid black 1px;
    }

    .footer div {
        align-content: center;
        display: flex;
        flex-direction: column;
        padding: 30px;

    }

    .footer a {
        line-height: 40px;
        text-decoration: none;
        color: #666a6b;
    }

    .footer-img {
        text-align: center;
        display: flex;
        flex-direction: column;
        border-right: solid grey 0px;

    }

    .copyright-notice {
        text-align: center;
        background-color: black;
        color: white;
    }

    
    #mottobg {
        height: 200px;

    }
    .button h2{
        margin-top: 0;
        font-size: 32px;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 600;
    }
    
    .button button
    {
    
        width: 200px;
        height: 50px;
    
        background-color: #3BAF3E;
        border: none;
        color: white;
    }
    #mottotitle {

        font-size: 15px;
    }

    .parallax {
        height: 1700px;
    }

    #products {
        gap: 200px;
        margin-top: -100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .description {
        margin-left: 30px;
        background-color: white; /* Semi-transparent background */
        color: rgb(0, 0, 0);
        padding: 10px;
        position: absolute;

        transform: translate(5px, 30px);
    
        border: solid rgb(0, 0, 0);
        border-width: 1px;
        text-align: center;
        width: 200px
    
    }
    
    .presents {
        height: 100px; 
        justify-content: center; 
        padding-top: 30px; color: black; 
        font-size: 23px; 
        font-family: 'Space Grotesk', sans-serif;
    }

    p {
        font-size: 16px;
    }

    #bgmask {
        height: 1800px;
        justify-items: center;
    }

    .titlesize {
        font-size: 70px;
    }

    .slogan {
        font-size: 11px;
    }

    .paragraph1 {
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        gap: 100px;
        margin: 0 40px;
    }

    .paragraph1 h2 {
        text-align: left;
        font-size: 18px;
        line-height: 30px;
    }

    .frame {
        width: 300px;
        height: 310px;
    }
    .frame img {
        width: 100%;
        align-items: center;
    }
}