.lists {
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.container {
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
}

.lists li {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.container li {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1.animate {
    position: relative;
    left: -100%; /* Start off-screen to the left */
    animation: moveRight 1s ease-out forwards; /* Define the animation */
}

h2.animate {
    position: relative;
    left: -100%; /* Start off-screen to the left */
    animation: moveRight 1.2s ease-out forwards; /* Define the animation */
}

/* Apply fade-in animation */
.laboratory {
    opacity: 0;                    /* Start hidden */
    animation: fadeIn 2s ease-in forwards;
    /* Duration of 2 seconds; 'forwards' keeps opacity at 1 after the animation */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Define the animation keyframes */
@keyframes moveRight {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

h1{
    font-size: 24px;
}

h2 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 20px;
}

h3 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 18px;
}

.titlelines {
    border: 10px;
    border-bottom: 10px;
}

@media (max-width: 1200px) and (min-width: 300px) {
    .container {
        margin-left: 50px;
        margin-right: 50px;
    }

    p {
        font-size: 16px;
    }

    .lists li {
        margin-right: 20px;
        font-size: 16px;
    }
}